<div class="raidlistWrapper">
{{#each raids}}
    <button class="collapsible">
        <h2>{{gym.name}}</h2>
        <h3>{{#if form}} {{form.display_name}} {{else}} Tier {{egg_tier}} egg {{/if}}</h3>
        <p>{{#if form}} <i class="fas fa-hourglass-end"></i> {{ends}} {{else}} <i class="far fa-clock"></i> {{hatches}} {{/if}}</p>

    </button>
    <div class="content">
        <p>test tekst her test tekst her test tekst her test tekst her </p>
        {{#each groups}}
            <hr><p>{{killTime}}</p>
        {{/each}}
    </div>
{{/each}}
</div>